<!DOCTYPE html>
<html>
<head>
	<title> ndb example</title>
</head>

<body>
    Hello: {{ name }}
<hr />
<form action="/processform" method="post">
 <input name="title" placeholder="comment title"><br/>
 <textarea name="content" rows="4" cols="50" /> </textarea><br/>
 <input type="submit"> <br/>
</form>

<div>
    {% for comment in comments %}
     <h2>  {{ comment.title }} </h2>
     <p>   {{ comment.content }} </p>
     <h6> {{ comment.created_at }} </h6>
     <hr/>
    {% endfor %}
</div>
</body>
</html>
